<form action="/" method="POST" >
  <div class="container text-center">
    <input type="url" name="url" class="form-control col-xs-3" placeholder="Input URL here" value="{{initialURL}}" required >
    <div class="input-group-append">
      <button class="btn btn-major" type="submit">Shorten</button>
    </div>

    {{#if shortURL}}
    <div>
    <h2>Success! Please use this link:</h2>
    <a class="result" id="link" href="{{initialURL}}" >{{shortURL}}</a>
    <button class="btn btn-primary" onclick="copy()">Copy</button>
    </div>

  {{!-- 建立複製函式 --}}
  <script>
    function copy() {
      const Link = document.getElementById('link').innerText
      navigator.clipboard.writeText(Link)
        .then(() => {
          console.log("text already copied")
        })
        .catch(error => {
          console.log("error")
        })
    }
  </script>
    {{/if}}
    </div>
    </form>
    


      
