<!-- search bar -->
<form action="/" method="POST" >
  <div class="container search-bar">
    <input type="url" name="url" class="form-control" placeholder="Input URL here" value="{{Url}}" required >
    <div class="input-group-append">
      <button class="btn btn-major" type="submit">Shorten</button>
          </div>
        </div>
      </form>
      <div>
        <h4>Convert Success</h4>
        <a class="result" href="{{url}}/{{shortUrl}}">link</a>
      </div>
      
